[submodule "voidcrab"]
	path = voidcrab
	url = git@github.com:Quinten/voidcrab.git
[submodule "v1"]
	path = v1
	url = git@github.com:Quinten/v1.git
[submodule "webwolk"]
	path = webwolk
	url = git@github.com:Quinten/webwolk.git
[submodule "verlet3d"]
	path = verlet3d
	url = git@github.com:Quinten/verlet3d.git
[submodule "utilsdesktop"]
	path = utilsdesktop
	url = git@github.com:Quinten/utilsdesktop.git
[submodule "treetopdrop"]
	path = treetopdrop
	url = git@github.com:Quinten/treetopdrop.git
[submodule "three"]
	path = three
	url = git@github.com:Quinten/three.git
[submodule "text"]
	path = text
	url = git@github.com:Quinten/text.git
[submodule "testcave"]
	path = testcave
	url = git@github.com:Quinten/testcave.git
[submodule "slidesurface"]
	path = slidesurface
	url = git@github.com:Quinten/slidesurface.git
[submodule "shredder"]
	path = shredder
	url = git@github.com:Quinten/shredder.git
[submodule "dev_on_the_run"]
	path = dev_on_the_run
	url = git@github.com:Quinten/dev_on_the_run.git
[submodule "imgmaptool"]
	path = imgmaptool
	url = git@github.com:Quinten/imgmaptool.git
[submodule "heartbeat"]
	path = heartbeat
	url = git@github.com:Quinten/heartbeat.git
[submodule "swfLauncher"]
	path = swfLauncher
	url = git@github.com:Quinten/swfLauncher.git
[submodule "swfcast"]
	path = swfcast
	url = git@github.com:Quinten/swfcast.git
[submodule "rusty_rally"]
	path = rusty_rally
	url = git@github.com:Quinten/rusty_rally.git
[submodule "polarpusher"]
	path = polarpusher
	url = git@github.com:Quinten/polarpusher.git
[submodule "piont"]
	path = piont
	url = git@github.com:Quinten/piont.git
[submodule "paint_with_as3"]
	path = paint_with_as3
	url = git@github.com:Quinten/paint_with_as3.git
[submodule "mitella"]
	path = mitella
	url = git@github.com:Quinten/mitella.git
