[submodule "voidcrab"]
	path = voidcrab
	url = git@github.com:Quinten/voidcrab.git
[submodule "v1"]
	path = v1
	url = git@github.com:Quinten/v1.git
[submodule "webwolk"]
	path = webwolk
	url = git@github.com:Quinten/webwolk.git
[submodule "verlet3d"]
	path = verlet3d
	url = git@github.com:Quinten/verlet3d.git
[submodule "utilsdesktop"]
	path = utilsdesktop
	url = git@github.com:Quinten/utilsdesktop.git
[submodule "treetopdrop"]
	path = treetopdrop
	url = git@github.com:Quinten/treetopdrop.git
[submodule "three"]
	path = three
	url = git@github.com:Quinten/three.git
